:root{
    --skuju-zaļš-color: #165b33;
    --sūnu-zals-color: #146b3a;
    --rotaļīgi-oranzs-color: #f8b229;
    --Ziemassvētku-sarkans-color: #bb2528;
    --sniega-balts-color: #ffffff;
    --nakts-melns-color: #000000;
}