:root{
    --skuju-zaļš-color: #165b33;
    --sūnu-zals-color: #146b3a;
    --rotaļīgi-oranzs-color: #f8b229;
    --Ziemassvētku-sarkans-color: #bb2528;
    --sniega-balts-color: #ffffff;
    --nakts-melns-color: #000000;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--nakts-melns-color);
}
h2{
    color: var(--sniega-balts-color);
}
p{
    color: var(--sniega-balts-color);
}
.mainText{
    color: var(--skuju-zaļš-color);
    text-transform: uppercase;
    font-size: 8vw;
}
.mainTextHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flight{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    border: var(--rotaļīgi-oranzs-color) 4px solid;
    margin: 10px;
    padding: 10px;

    .flightbar{
        color: var(--rotaļīgi-oranzs-color);
        font-size: 3rem;
    }
}

.flight:hover {
    border: var(--Ziemassvētku-sarkans-color) 4px solid;
    cursor:pointer;

    .flightbar{
        color: var(--Ziemassvētku-sarkans-color);
        font-size: 3rem;
    }
}

.logo{
    width: 25vw;
}
.middleHolder{
    display: grid;
    justify-content: center;
    align-items: center;
}
.middleTextHolder{
    display: grid;
    justify-content: center;
    align-items: center;
}
.arrivalHolder{
    display: grid;
    justify-content: center;
    align-items: center;
}
.departureHolder{
    display: grid;
    justify-content: center;
    align-items: center;
}

.insadePopUp{
    color: #000000;
}

.rows{
    color: #000001;
}

.h1Popup{
    color: var(--skuju-zaļš-color);
    text-transform: uppercase;
    font-size: 4vw;
}

@media only screen and (max-width: 600px){
    .logo{
        width: 50vw;
    }
}